arrow==0.12.1
certifi==2018.1.18
chardet==3.0.4
click==6.7
croniter==0.3.20
Django==2.2.24
django-rq==1.0.1
Flask==0.12.2
idna==2.5
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
python-dateutil==2.6.1
pytz==2018.3
redis==2.10.6
requests==2.18.1
rq==0.10.0
rq-dashboard==0.3.10
rq-scheduler==0.7.0
six==1.11.0
urllib3==1.21.1
Werkzeug==0.14.1
